<script setup lang="ts">
// UI Component
defineProps<{}>()
</script>

<template>
  <div class="{{pascalCase name}}">This is a UI component.</div>
</template>

<style scoped>
.{{pascalCase name}} {}
</style>
